<header class="topo">
    <ul class="links">
        <li><a href="">NOTIFICAÇÕES</a></li>
        <li>
            <li class="dropdown">
                <a href="">Configurações</a>
                <ul class="exibe-drop">
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </li>
        </li>       
    </ul>
</header>