<nav class="menu">
    <div class="container-menu">
        <form action="" class="form-search">
            <input type="search" name="" id="" placeholder="Pesquisar">
            <button class="bt bt-clean">Pesquisar</button>
        </form>
        <ul class="links">
            <li><a href=""><i class="icon ion-md-volume-high"></i> Playlist de Músicas</a></li>
            <li><a href=""><i class="icon ion-md-videocam"></i> Playlist de Clipes</a></li>
            <li><a href=""><i class="icon ion-md-videocam"></i> Playlist de Filmes</a></li>
        </ul>
    </div>
</nav>