<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Player Filmes</title>
        <!--CSS-->
        <link href="/css/estilo.css" rel="stylesheet">
        <!--fonts-->
        <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    </head>
    <body>
        <main class="main">
            {{>_menu}}
            <section class="wrap">
                {{>_header}}
                {{{body}}}
            </section>
        </main>
    </body>
     <script src="/js/lib.js"></script>
    <script src="/js/template.js"></script>
</html>