<article class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="ytplayer ytplayer--complete">
                    <div id="video1" class="ytplayer__iframe" data-playlist ="PLpRc2hK_GtY3EHs_42CQJBLfxJg2QJULS"></div>        
                    <div class="overlay">
                        <div class="overlay__element overlay__element--hide"></div>
                        <div class="overlay__carousel">
                            <div class="overlay__element now-playing" data-ytp-index="0"></div>
                            <div class="overlay__element" data-ytp-index="1"></div>
                            <div class="overlay__element" data-ytp-index="2"></div>
                            <div class="overlay__element" data-ytp-index="3"></div>
                            <div class="overlay__element" data-ytp-index="4"></div>
                        </div>
                    </div>
                    <div class="controls">
                        <a href="#" class="controls__btn controls__btn--play"></a>
                        <a href="#" class="controls__btn controls__btn--overlay"></a>
                        <a href="#" class="controls__btn controls__btn--skip controls__btn--prev"></a>
                        <a href="#" class="controls__btn controls__btn--skip controls__btn--next"></a>
                        <div class="controls__volume">
                            <input type="range" name="slider" class="controls__slider range blue" value="60" min="0" max="100">
                            <a href="#" class="controls__btn controls__btn--mute"></a>
                        </div>
                    </div>
                </div>
                <!--/fim-container-video-->
            </div>
            <div class="col-5">

            </div>
        </div>
    </div>
</article>    